/* TABLE */

.table-container{
    width: 100%;
    overflow-x: scroll;
    box-shadow: 2px 2px 5px var(--primary-color);
}

.data-view{
    background-color: var(--background-color);
    border-top: 5px solid var(--accent-color);
    border-bottom: 5px solid var(--accent-color);
    /* border-radius: 10px 10px 0 0; */
    border-spacing: 0;
    width: 100%;
}

/* .data-view tr:nth-child(even){
    background-color: var(--secondary-color);
} */

.data-view th, .data-view td{
    font-size: 0.8em;
    padding: 5px 10px;
    text-align: left;
}

.data-view tr:hover{
    background-color: var(--secondary-color);
    color: var(--background-color);
}

.data-view th{
    border: 0;
    border-bottom: 1px solid var(--secondary-color);
    font-size: 1em;
}

.data-view tr:hover th{
    background-color: var(--background-color);
    color: black;
}

.data-view .material-symbols-rounded{
    font-size: 1.6em;
}

.material-symbols-rounded:hover{
    transform: scale(1.2);
    text-shadow: 1px 1px var(--primary-color);
    color:var(--accent-color);
}
