/* TABLE */

.table-container{
    width: 100%;
    overflow-x: auto;
    box-shadow: 2px 2px 5px var(--primary-color);
}

.data-view{
    background-color: var(--background-color);
    border-top: 3px solid var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
    /* border-radius: 10px 10px 0 0; */
    border-spacing: 0;
    width: 100%;
}

/* .data-view tr:nth-child(even){
    background-color: var(--secondary-color);
} */

th, td{
    /* font-size: 0.8em; */
    padding: 5px 10px;
    text-align: left;
    text-wrap: nowrap;
}

tr:hover{
    background-color: var(--secondary-color);
    color: var(--background-color);
}

th{
    border: 0;
    border-bottom: 1px solid var(--secondary-color);
    font-size: 0.9em;
}

tr:hover th{
    background-color: var(--background-color);
    color: black;
}

td{
    border-right: 0.5px solid var(--accent-color);
    font-size: 0.8em;
}