
/* <main> */
.auth-main{
    width: 100%;
    height: 100%;
    justify-content: end;
    padding: 20px;
}

/* forms container */
.auth-form{
    height: 100%;
    padding: 0 20px;
    overflow-y: hidden;
    border-radius: 20px;
}

/* forms -> login & register */
.login, .register{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.register{ opacity: 0; }

/* form inputs */
.form-input-container{
    position: relative;
    width: 100%;
}

input{
    width: 100%;
    padding: 5px;
    padding-left: 40px;
    outline: none;
    border-radius: 50px;
    border: 0;
    margin: 10px 0;
    box-shadow: 2px 2px 2px var(--lightGreen);
}

.input-icon{
    position: absolute;
    top: 35%;
    left: 5%;
    font-size: 16px;
    color: var(--darkGreen);
}

.error-icon, .valid-icon{
    position: absolute;
    top: 35%;
    right: 5%;
    font-size: 16px;
    visibility: hidden;
}


.error-icon{ color: var(--error);}
.valid-icon{ color: var(--lightGreen);}
.valid .valid-icon{ visibility: visible;}
.notvalid .error-icon, .notvalid .input-error{ visibility: visible;}

.input-error{
    position: absolute;
    top: 85%;
    right: 0%;
    font-size: 0.7em;
    color: var(--error);
    border-radius: 50px;
    width: calc(100% - 20px);
    text-align: right;
    padding-right: 10px;
} 

.auth-bttn{
    padding: 5px 64px;
    margin: 20px 0;
    width: 100%;
    border-radius: 50px;
    border: 0;
    box-shadow: 2px 2px 2px var(--lightGreen);
    color: brown;
    letter-spacing: 2px;

    cursor: pointer;
}

p{ font-size: 0.9em; }




/* profile picture */
.input-profilepic-container{
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30%;
    margin-top: 20px;
}

.input-profilepic{
    width: 64px;
    height: 64px;
    border-radius: 100%;
    box-shadow: 2px 2px 2px rgb(165 42 42 / 60%);
}

.input-profilepic-add{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;

    img{
        width: 50%;
        height: 50%;
    }
}

.input-profilepic-container:hover .input-profilepic-add{
    opacity: 1;
}


@media screen and (min-width: 750px)
{
    .auth-main{
        align-items: end;
    }

    .auth-form{
        width: 30%;
    }
}