:root{
    --primary-color: #2b4450;
    --secondary-color: #497285;
    --background-color: #dfebed;
    --accent-color: #f78536;
}

*{
    margin: 0;
    padding: 0;
    font-family: Cascadia Code, Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: white;
    max-height: 100vh;
}

.flexRow{
    display: flex;
    flex-direction: row;
}
.flexColumn{
    display: flex;
    flex-direction: column;
}


.main-container{
    display: grid;
    grid-template-areas: 
    "h h h"
    "l m r";
    height: 100vh;
    width: 100%;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 10% 1fr 20%;
}

header, aside{
    background-color: var(--primary-color);
    z-index: 1;
}

#load-header { width: 100vw; }

header{
    grid-area: h;
    position: sticky;
    height: 70px;
    box-shadow: 5px 0 5px var(--primary-color);
    border-bottom: 2px solid var(--accent-color);
    color: var(--background-color);
    justify-content: space-between;
    padding: 0 40px;
}

.user-box{
    align-items: center;
}
.user-box p{
    margin: 0 20px;
}
.user-box button{
    height: 44px;
    padding: 0 20px;
}

#load-content{
    grid-area: m;
    height: 100%;
    overflow-y: scroll;
}

main section{
    padding: 20px 50px;
    margin: 0 auto;
}




/* Left Menu */
.body-leftmenu{
    grid-area: l;
    border-right: 2px solid var(--accent-color);
    box-shadow: 0 5px 5px var(--primary-color);
    position: sticky;
    height: 100%;
}

.modulos{
    margin-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    border: 3px solid var(--accent-color);
    border-right: 0;
    border-left: 0;
    overflow-y: auto;
    background-color: var(--secondary-color);
}

.modulo-titulo{
    font-size: 0.9em;
    padding: 10px 0;
    text-align: center;
    color: var(--background-color);
}

.modulo-opcion{
    width: 95%;
    list-style-type: none;
    padding: 5px;
    background-color: var(--background-color);
    color: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.modulo-opcion:hover{
    background: linear-gradient(to left, var(--accent-color), var(--background-color));
}

.body-rightmenu{
    grid-area: r;
    border-left: 2px solid var(--accent-color);
    box-shadow: 0 5px 5px var(--primary-color);
    position: sticky;
    height: 100%;
}

hr{
    border: 1px solid var(--accent-color);
    box-shadow: 1px 1px 2px var(--primary-color);
    margin: 20px 5px;
}

.material-symbols-rounded{
    font-size: 1.6em;
}

.material-symbols-rounded:hover{
    transform: scale(1.2);
    text-shadow: 1px 1px var(--primary-color);
    color:var(--accent-color);
}



/* CURSORES */
.pointer{ cursor: pointer; }


/* @media screen and (max-width: 900px) {
    main{
        display: flex;
        flex-direction: column;
    }
} */