<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0" />
    <link rel="stylesheet" href="../styles/output.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.1.6/purify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
    <script src="../frontend/auth.js" type="module"></script>
</head>

<body class="h-screen bg-[url('../images/backgrounds/bg_books.png')]  bg-no-repeat bg-cover md:bg-contain duration-200">
    <section class="w-full h-full overflow-y-hidden duration-200">
        <article id="login-form" class="flex justify-center items-center h-full w-full">
            <div class="flex flex-col md:w-1/2 lg:w-1/3 xl:w-1/4 h-fit backdrop-blur-sm p-10 rounded-lg shadow-md">
                <p class="w-full text-2xl text-center">Bienvenid@</p>
                
                <div class="relative w-full">
                    <input type="text" id="username" placeholder="username" class="form-input">
                    <i class="material-symbols-rounded form-icon">person</i>
                </div>
                <div class="relative w-full">
                    <input type="password" id="password" placeholder="password" class="form-input">
                    <i class="material-symbols-rounded form-icon">lock</i>
                </div>

                <div class="w-full flex justify-center">
                    <button type="button" id="submit-login" class="py-1 my-5 rounded-md shadow-md text-[#333] bg-[#A8E6CF] w-1/2">Login</button>
                </div>

                <p class="text-center">No tienes cuenta? <a id="to-signup" href="#" class="text-green-950 underline">Registrate</a></p>
                <hr class="w-full my-2">
                <p class="text-center">No recuerdas tu contraseña? <a id="to-rstpwd" href="#" class="text-green-950 underline">Recuperar</a></p>
                
                <p id="error-login" class="animate-pulse text-center text-sm text-red-600 w-full invisible rounded-full"></p>
            </div>
        </article>


        <article id="register-form" class="flex justify-center items-center h-full w-full opacity-0">
            <div class="flex flex-col md:w-1/2 lg:w-1/3 xl:w-1/4 h-fit backdrop-blur-sm p-10 rounded-lg shadow-md">
                <p class="w-full text-2xl text-center">REGISTRO</p>
                <div class="relative w-full">
                    <input type="text" id="input-username" class="v_required v_usernameexists v_usernameformat form-input" placeholder="username" data-valid="valid-username" maxlength="20">
                    <i class="material-symbols-rounded form-icon">person</i>
                    <span id="valid-username"  data-errormsg="error-username">
                        <i class="material-symbols-rounded form-error-icon">error</i>
                        <p id="error-username" class="form-error-message"></p>
                        <i class="material-symbols-rounded form-valid-icon">check_circle</i>
                    </span>
                </div>
                <div class="relative w-full">
                    <input type="email" id="input-email" class="v_required v_emailexists v_emailformat form-input" placeholder="email" data-valid="valid-email">
                    <i class="material-symbols-rounded form-icon">mail</i>
                    <div id="valid-email"  data-errormsg="error-email">
                        <i class="material-symbols-rounded form-error-icon">error</i>
                        <p id="error-email" class="form-error-message invisible"></p>
                        <i class="material-symbols-rounded form-valid-icon">check_circle</i>
                    </div>
                </div>
                <div class="relative w-full">
                    <input type="password" id="input-password" class="v_required v_pwdformat v_repeatpwd form-input" placeholder="password" data-valid="valid-password" data-repeat="input-password-repeat">
                    <i class="material-symbols-rounded form-icon">lock</i>
                    <div id="valid-password"   data-errormsg="error-password">
                        <i class="material-symbols-rounded form-error-icon">error</i>
                        <p id="error-password" class="form-error-message"></p>
                        <i class="material-symbols-rounded form-valid-icon">check_circle</i>
                    </div>
                </div>
                <div class="relative w-full">
                    <input type="password" id="input-password-repeat" class="v_required form-input" placeholder="repite password" data-valid="valid-password-repeat">
                    <i class="material-symbols-rounded form-icon">lock_reset</i>
                    <div id="valid-password-repeat"  data-errormsg="error-password-repeat">
                        <i class="material-symbols-rounded form-error-icon">error</i>
                        <p id="error-password-repeat" class="form-error-message"></p>
                        <i class="material-symbols-rounded form-valid-icon">check_circle</i>
                    </div>
                </div>
                
                <div class="flex flex-row justify-center align-middle relative w-full mt-5">
                    <img src="../images/users_avatars/user-default.png" id="input-profilepic" class="w-36 h-36 rounded-full" alt="Imagen de perfil">
                    <label for="input-userimg" class="cursor-pointer flex flex-col justify-center align-middle absolute w-2/4 h-full rounded-full opacity-0 transition-opacity hover:opacity-100">
                        <i class="material-symbols-rounded text-center">add_a_photo</i>
                    </label> 
                    <input type="file" id="input-userimg" name="imagen" accept="image/*" style="display: none;" class="v_imgsize" data-valid="valid-userimg">
                    <div id="valid-userimg"  data-errormsg="error-userimg">
                        <i class="material-symbols-rounded form-error-icon">error</i>
                        <p id="error-userimg" class="form-error-message top-36"></p>
                        <i class="material-symbols-rounded form-valid-icon">check_circle</i>
                    </div>
                </div>
                
                <div class="w-full flex justify-center">
                    <button type="button" id="submit-register" class="py-1 my-5 rounded-md shadow-md text-[#333] bg-[#A8E6CF] w-1/2">Regístrate</button>
                </div>
            </div>
        </article>

        <article id="reset-password-form" class="flex justify-center items-center h-full w-full opacity-0">
            <div class="flex flex-col md:w-1/2 lg:w-1/3 xl:w-1/4 h-fit backdrop-blur-sm p-10 rounded-lg shadow-md">
            <p class="w-full text-2xl text-center">Recupera tu contraseña</p>

            <div class="relative w-full">
                <input type="text" id="rstpwd-value" placeholder="Introduce tu Email o Username" class="form-input placeholder:text-xs">
                <i class="material-symbols-rounded form-icon">person</i>
            </div>

            <div class="w-full flex justify-center">
                <button type="button" id="submit-rstpasw" class="py-1 my-5 rounded-md shadow-md text-[#333] bg-[#A8E6CF] w-1/2">Enviar</button>
            </div>

            <p id="error-resetpwd" class="animate-pulse text-center text-sm text-red-600 w-full invisible"></p>
            </div>
        </article>
    </section>
</body>
</html>