@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    @apply bg-[#F7F3E9] h-screen;
  }

  .form-icon {
    @apply absolute top-1/2 -translate-y-1/2 left-2 text-green-900 text-xl;
  }
  .form-input {
    @apply w-full py-2 px-10 border-0 outline-none rounded-md my-3 shadow-md focus:ring-0 focus:ring-transparent;
  }
  .form-error-icon {
    @apply absolute top-1/2 -translate-y-1/2 right-2 text-base text-red-500 invisible;
  }
  .form-error-message {
    @apply absolute -bottom-1 right-0 text-xs text-red-500 text-right pr-2 w-full invisible;
  }
  .form-valid-icon {
    @apply absolute top-1/2 -translate-y-1/2 right-2 text-base text-green-500 invisible;
  }
  .form-select-option{
    @apply px-2 py-1 rounded-full checked:bg-[#A8E6CF] checked:text-[#333] focus:bg-slate-500;
  }

  .dialogWindow{
    @apply fixed z-50 scale-0 m-auto w-96 h-fit p-4 rounded-md bg-white/30 backdrop:bg-[#333]/30 backdrop:backdrop-blur-md shadow-lg;
  }

  .ratingStar{
    @apply w-4 h-4 text-gray-500 duration-200 drop-shadow-lg;
  }

  .body-background{
    @apply absolute w-full h-full opacity-30 bg-[url('../images/backgrounds/a-books-tile-pattern.jpeg')] z-0;
  }

  .valid .form-valid-icon,
  .notvalid .form-error-icon,
  .notvalid .form-error-message{ @apply visible;}
}
